# Data files
data/raw/*
data/processed/*
data/output/*

# Environment files
.env
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.swp

# Airflow
logs/
*.pid

# Spark
derby.log
metastore_db/
spark-warehouse/